*{
  margin:0; padding:0;
}

.background_me_sq {
  top: 70px;
  width: 100%;
  height: 120px;
  background: #64B3D7 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
  margin: 0;
  padding: 0;
}
.background_me_oval {
  top: 65px;
  width: 100%;
  height: 207px;
  background: #64B3D7 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  position: absolute;
}
.mypic {
  top: 50px;
  left: 150px;
  width: 110px;
  height: 110px;
  opacity: 1;
  border-radius: 100px;
  position: absolute;
}
.myname {
  top: 65px;
  left: 320px;
  width: 80px;
  height: 24px;
  font: Bold 20px/24px Segoe UI;
  color: #707070;
  opacity: 1;
  position: absolute;
}
.mygame {
  top: 70px;
  left: 470px;
  font-size: 14px;
  position: absolute;
}
.mycomment {
  top: 110px;
  left: 320px;
  font-size: 12px;
  position: absolute;
}
.btn_me { /*수정하기 버튼 */
  top: 40px;
  left: 1200px;
  width: 130px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #727272;
  border-radius: 30px;
  opacity: 1;
  position: absolute;
}

.myactivitytext { /* 활동목록 위 글자*/
  top: 320px;
  left: 200px;
  font-size:40px;
  position: absolute;
}
.mytab{
  top: 380px;
  left: 200px;
  width: 1144px;
  height:auto;
  min-height: 200px;
  overflow:hidden;
  position: absolute;
}
.mytab ul{
  padding:0;
  margin:0;
  list-style:none;
  width:100%:
  height:auto;
  font-size: 18px;
  overflow:hidden;
}
.mytab ul li{
  display:inline-block;
  width: 563px;
  float:left;
  line-height:40px;
  border: 3px solid #FFFFFF;
  text-align:center;
  cursor:pointer;
}
.mytab ul li:hover,
.mytab ul li.on{
  background:#ED6F76;
}
.mytab .conBox{
  padding: 20px 10px 10px 10px;
  width: 100%;
  height:auto;
  overflow:hidden;
  min-height: 200px;
  font-size: 16px;
  background: #e3e3e3;
  border: 3px solid #FFFFFF;
  display:none;
  text-align:center;
}
.mytab .conBox.on{
  display:block;
}


.myclubtext {/*내 동아리 글자 */
  top: 710px;
  left: 200px;
  font-size:40px;
  position: absolute;
}
.clubtab{ /*회장일때 탭메뉴*/
  top: 770px;
  left: 200px;
  width: 1144px;
  height:auto;
  min-height: 200px;
  overflow:hidden;
  position: absolute;
}
.clubtab ul{
  padding:0;
  margin:0;
  list-style:none;
  width:100%:
  height:auto;
  font-size: 18px;
  overflow:hidden;
}
.clubtab ul li{
  display:inline-block;
  width: 563px;
  float:left;
  line-height:40px;
  border: 3px solid #FFFFFF;
  text-align:center;
  cursor:pointer;
}
.clubtab ul li:hover,
.clubtab ul li.on{
  background:#ED6F76;
}
.clubtab .clubconBox{
  padding: 20px 10px 10px 10px;
  width: 100%;
  height:auto;
  overflow:hidden;
  min-height: 200px;
  font-size: 16px;
  background: #e3e3e3;
  border: 3px solid #FFFFFF;
  display:none;
  text-align:center;
}
.clubtab .clubconBox.on{
  display:block;
}

.myclubBox { /*동아리 박스-회장 아닌거*/
  top: 760px;
  left: 200px;
  width: 1144px;
  min-height: 350px;
  background: #e3e3e3;
  border: 3px solid #FFFFFF;
  opacity: 1;
  position:absolute;
  display: none;
}
.clubCon {
  padding: 20px 10px 10px 10px;
  display: none;
}
