*{
	box-sizing:border-box;
}

#container{
	top: 79px;
	left: 400px;
	position: absolute;
	width:750px;
	height:700px;
	background:#FFFFFF;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:260px;
	height:630px;
	background-color: #6fbced;
	border-radius:3px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:490px;
	height:630px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside ul { /*스크롤바*/
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:630px;
}
aside li{
	padding:10px 0;
}
aside li:hover{ /*마우스 올렸을 때 변하는색*/
  background-color: skyblue
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
  	width: 40px;
	margin-left:15px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}

.chatheader{
	background-color:#D5D5D5;
	width: 500px;
	height: 80px;
	display:inline-block;
	vertical-align:top;
}
.chatheader img {
	width:50px;
	border-radius:50%;
}
.chatheader div{
	margin-left:15px;
	margin-right:100px;
}
.chatheader h2{
	font-size:16px;
	margin-bottom:5px;
}
.chatheader h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}

.notice {
	height: 60px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
}
.noticetext {
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 8px;
}
.btn_notice {
	top: 100px;
	left: 660px;
	position: absolute;
	border-radius: 30%;
	padding: 5px 5px 5px 5px;
	background-color: #d5d5d5;
	border: 1px solid #a8a8a8;
	cursor: pointer;
}
.notice .hide {
	display: none;
}

.map {
	min-height: 50px;
	margin-top: 10px;
	margin-left:30px;
	margin-right:30px;
	border-bottom: 1px solid;
}
.maptext {
	padding-top: 5px;
}
.btn_map {
	top: 160px;
	left: 660px;
	position: absolute;
	border-radius: 30%;
	padding: 5px 5px 5px 5px;
	background-color: #d5d5d5;
	border: 1px solid #a8a8a8;
	cursor: pointer;

}

#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	width: 490px;
	height: 430px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
	overflow-y:scroll;
}
#chat li{
	padding:20px 30px;
	

}
#chat h2,#chat h3{
	display:inline-block;
	font-size:12px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:7px;
	color:#161c30;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#EDF0F5;
}
#chat .me .message{
	background-color:#6fbced;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #EDF0F5 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #6fbced transparent;
		margin-left:375px;
}

.sendbox{
	top: 508px;
	left: 260px;
	position: absolute;
	width: 500px;
	height:120px;
	border-radius:3px;
	padding:20px 20px 10px 20px;
	background-color: #D5D5D5;
}
.sendbox textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:60px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
.sendbox textarea::placeholder{
	color:#ddd;
}
.sendbox a {
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#000000;
	vertical-align:top;
	margin-left:395px;
	margin-top:3px;
	display:inline-block;
}

.footer{
	height: 200px;
	background-color: skyblue;
}
